body {
  background-color: gainsboro;
  color: #333;
  font-family: "Playfair Display", serif;
  margin: 10px;
  padding: 10px;
}

/* HEADER */

#logo {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

ul {
  font-size: large;
  list-style: none; /* This is to remove the points in the unordered list */
  padding-left: 0px;
  display: flex; /* Use of flexbox */
  gap: 50px;
  flex-wrap: wrap; /* Ensure items wrap on smaller screens */
  justify-content: center;
}

a {
  color: black;
}

/* MAIN */

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* This is to make the grid responsive */
  gap: 20px;
  justify-items: center; /* Center items */
}

.project-img {
  width: 100%; /* Make images responsive using relatives */
  max-width: 250px; /* Set a max width */
  height: auto;
  margin-top: 10px;
  display: block;
}

.project-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  color: black;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

button {
  margin: auto;
}

.main-img {
  width: 100%;
}

#email {
  color: blue;
  text-decoration: underline;
}

/* FOOTER */

footer {
  border-top: 1px solid black;
  text-align: center;
  padding: 10px;
}

#footer {
  font-weight: 800;
  font-size: 1.5rem;
}

/* ANIMATION */

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Applying animation to project items */

.project-item {
  animation: fadeInScale 0.8s ease-in-out;
}
